<div class="second-main">
   <p class="hello-text"> Hello World </p>
   <p> Lawrence Tsui</p>
   <p style="font-style: italic;margin: 0;"> - Frontend Engineer</p>
   <div style="margin-top: 16px;display: flex; justify-content:space-around">
   <a routerLink="/projects" style="margin-right:10px;" class="custom-button project-button">
    Project
  </a>
  <a routerLink="/resume" class="custom-button resume-button">
    Resume
  </a>

   </div>
   <p style="  font-family: 'Avenir', sans-serif;  text-align: center; margin-top: 30px; line-height: 30px
   ">
Passionate about learning new technologies and exploring new challenges, Lawrence is dedicated to helping you create clean and efficient code that performs flawlessly, always aiming to take project to the next level!
   </p>
  </div>