<!-- main-content.component.html -->
<!-- main-content.component.html -->

<div class="main-content">
  <!-- Your main content goes here -->


<h1>About Me</h1>
<p>
  I am a passionate Frontend Engineer with expertise in building user-friendly and performant web applications. With a strong foundation in HTML, CSS, and JavaScript, I enjoy crafting seamless user experiences and bringing designs to life.
</p>
<p>
  Throughout my career, I have worked on various projects, collaborating with cross-functional teams to deliver high-quality software solutions. I am experienced in modern frontend frameworks such as Angular and React, and I constantly strive to stay up-to-date with the latest technologies and best practices.
</p>
<p>
  I am a problem solver at heart and enjoy tackling challenges to find innovative solutions. I have a keen eye for detail, and I take pride in writing clean and maintainable code. I am also a strong advocate for usability and accessibility, ensuring that my applications are inclusive and user-friendly for all.
</p>
<p>
  In addition to my technical skills, I am a great team player and thrive in collaborative environments. I believe in effective communication and enjoy working closely with designers, product managers, and other stakeholders to deliver exceptional results.
</p>

</div>