<div class="new-box">
    <div class="circular-image">
        <img src="path/to/your/circular-image.jpg">
      </div>
      <br/>
      <div class="main-text">
        <h1> Lawrence Tsui</h1>   
        <h1> Frontend Developer</h1>        <hr class="separator-line">
<p class="sub-text">  Specialise in React, Vue and Angular</p>
      </div>
  </div> 

  <div class="second-box">
    <a href="https://www.linkedin.com/in/lawrence-t-453074150/" target="_blank" class="custom-button linkedin-button">
      LinkedIn
    </a>
    <a href="https://github.com/LawrencesPractice" target="_blank" class="custom-button github-button">
      GitHub
    </a>
  </div>